/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Header */
header {
    height: 5rem;
    background-color: lightblue;
    padding: 1rem;
}

/* List Items */
li {
    font-size: 1.4rem;
}